# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs/
*.log

# Test coverage reports
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
!.vscode/extensions.json
.idea/

# Operating System
.DS_Store
Thumbs.db

# Swap files
*.sw?